<!-- Delete Salary Modal HTML -->
@foreach (var Salary in Model.GenericResponse.Data.Item2)
{
    <div id="deleteSalaryAdvanceModal@(Salary.Id)" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Delete" asp-controller="SalaryAdvance" method="post">
                    <input type="hidden" name="Id" value="@Salary.Id" />
                    <div class="modal-header">
                        <h4 class="modal-title">Xóa ứng lương</h4>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn muốn xóa lương này?</p>
                        <p class="text-warning"><small>Hành động này không thể hoàn tác.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                        <input type="submit" class="btn btn-danger" value="Xóa">
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<div id="deleteAll" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Xóa ứng lương</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa ?</p>
                    <p class="text-warning"><small>Hành động này không thể hoàn tác.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input id="deletesByIds" class="btn btn-danger" value="Xóa">
                </div>
            </form>

        </div>
    </div>
</div>