@using EmployeeManagement.Dto
@using EmployeeManagement.Enum
@{
    var userName = User.Identity.Name;
    var isAdmin = User.IsInRole(nameof(Role.ADMIN)) || User.IsInRole(nameof(Role.SUPPER_ADMIN));
}
<form id="addDepartmentForm" asp-action="Add" asp-controller="Department" method="post">
    <div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog"
         aria-labelledby="addDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 700px;">
                <div class="modal-header">
                    <h4 class="modal-title" id="addDepartmentModalLabel">Thêm phòng ban mới</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form for Adding Department -->
                    <div class="form-group">
                        <label for="Name">Tên phòng ban</label>
                        <input type="text" class="form-control" id="Name" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="Abbreviation">Viết tắt</label>
                        <input type="text" class="form-control" id="Abbreviation" name="Abbreviation" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
