
<!-- Modal Xóa Tất Cả -->
<div id="deleteAllAllowances" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Xóa phụ cấp</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa tất cả phụ cấp?</p>
                    <p class="text-warning"><small>Hành động này không thể hoàn tác.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input id="deletesByIds" class="btn btn-danger" value="Xóa">
                </div>
            </form>
        </div>
    </div>
</div>
